service: my-react-lambda
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-south-1
  memorySize: 512
  timeout: 10

functions:
  api:
    # UPDATED: file is handler.js, export is hello
    handler: handler.hello 
    events:
      - httpApi: '*'

package:
  individually: true
  patterns:
    - '!**'
    - 'build/**'
    - 'handler.js'     # includes handler
    - 'node_modules/**'
    - 'package.json'